<p id="notice"><%= notice %></p>

<h1>Homes#index</h1>
<%= link_to 'My Profile', current_user.git_profile_url %><p></p>
<%= link_to 'My Repositories', my_repositories_path, remote: true %><p></p>
<%= link_to 'My Organizations', my_organizations_path, remote: true %><p></p>
<p id='repos'>
</p>
